---
const { title, href } = Astro.props;

---
<div class="my-4 flex items-center justify-center"><a class="hover:bg-slate-400/10 text-xs border h-10 flex items-center px-4 rounded-xl" 
    href={href}>{title}</a></div>
