---
const { title } = Astro.props;

---
<div class="my-8 flex items-center justify-center"><a class="hover:bg-slate-400/10 text-xs border h-10 flex items-center px-4 rounded-xl" href="/about">{title}</a></div>